<launch>
  <!-- (start your robot's MoveIt! stack, e.g. include its moveit_planning_execution.launch) -->
  <!-- (start your tracking system's ROS driver) -->




   <include file="$(find multicam)/launch/driveCamera/drive1cam.launch">
    <arg name="overwrite_robot_description" value="false"/>
  </include>


  <include file="$(find easy_handeye)/launch/publish.launch">
    <arg name="eye_on_hand" value="false"/>
    <arg name="namespace_prefix" value="cam_to_hand"/> <!-- use the same namespace that you used during calibration! -->
    <arg name="robot_base_frame" value="ra_base_link"/>
    <arg name="tracking_base_frame" value="cam0_camera_base"/>
    <arg name="calibration_file" value="$(find multicam)/config/Horaud.yaml"/>
  </include>

<node type="rviz" pkg="rviz" name="rviz" args="-d $(find multicam)/rviz/handeye_calibration.rviz"/>
</launch>