[submodule "calibration_ws/src/Azure_Kinect_ROS_Driver"]
	path = calibration_ws/src/Azure_Kinect_ROS_Driver
	url = https://github.com/microsoft/Azure_Kinect_ROS_Driver
[submodule "calibration_ws/src/easy_handeye"]
	path = calibration_ws/src/easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye
[submodule "calibration_ws/src/apriltag_ros"]
	path = calibration_ws/src/apriltag_ros
	url = https://github.com/AprilRobotics/apriltag_ros
[submodule "calibration_ws/src/octomap_mapping"]
	path = calibration_ws/src/octomap_mapping
	url = https://github.com/OctoMap/octomap_mapping/
[submodule "calibration_ws/k4a-calibration"]
	path = calibration_ws/k4a-calibration
	url = git@github.com:stytim/k4a-calibration.git
