<launch>
  <!-- (start your robot's MoveIt! stack, e.g. include its moveit_planning_execution.launch) -->
  <!-- (start your tracking system's ROS driver) -->


  <include file="$(find multicam)/launch/driveCamera/drive1cam.launch">
    <arg name="overwrite_robot_description" value="false"/>
  </include>

      <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
      <arg name="camera_name" value="/cam0/rgb"/>
      <arg name="image_topic" value="image_raw"/>   
    </include>


  <include file="$(find easy_handeye)/launch/calibrate.launch">
    <arg name="eye_on_hand" value="false"/>
    <arg name="namespace_prefix" value="cam_to_hand"/>
    <arg name="robot_base_frame" value="ra_base_link"/>
    <arg name="robot_effector_frame" value="ra_flange"/>
    <arg name="tracking_base_frame" value="cam0_camera_base"/>
    <arg name="tracking_marker_frame" value="tag_199"/>
    <arg name="freehand_robot_movement" value="true"/>
    <arg name="start_rviz" value="true"/>
    <arg name="rviz_config_file" value="$(find multicam)/rviz/handeye_calibration.rviz"/>
    <arg name="publish_dummy" value="false"/>
  </include>

 <node name="dummy_handeye" pkg="tf" type="static_transform_publisher"
            args="2 0 1 3.14 0 0 ra_base_link cam0_camera_base 10" />
    
</launch>